<div class="container">
  <div class="row justify-content-center">
    <div class="form-group">
      <div class="input-group">
        <input class="form-=control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date" ngbDatepicker
          #d="ngbDatepicker">
        <div class="input-group-append">
          <button mat-icon-button (click)="d.toggle()">
            <mat-icon>calendar_today</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <ngb-timepicker [(ngModel)]="time" [seconds]="true"></ngb-timepicker>
  </div>
  <div class="row justify-content-center mt-2">
    <button mat-raised-button (click)="calculate()">Calculate</button>
  </div>
  <div class="row justify-content-center">
    <div class="form-group">
      <label for="seconds">Seconds</label>
      <input type="number" class="form-control" id="seconds" [(ngModel)]="calculation.seconds" disabled>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group">
      <label for="kiloseconds">Kilo Seconds</label>
      <input type="number" class="form-control" id="kiloseconds" [(ngModel)]="calculation.kiloSeconds" disabled>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group">
      <label for="megaseconds">Mega Seconds</label>
      <input type="number" class="form-control" id="megaseconds" [(ngModel)]="calculation.megaSeconds" disabled>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group">
      <label for="gigaseconds">Giga Seconds</label>
      <input type="number" class="form-control" id="gigaseconds" [(ngModel)]="calculation.gigaSeconds" disabled>
    </div>
  </div>
</div>