<mat-card>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Years</label>
            <input class="form-control" type="number" min="0">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Days</label>
            <input class="form-control" type="number" min="0" max="365">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Hours</label>
            <input class="form-control" type="number" min="0" max="23">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Minutes</label>
            <input class="form-control" type="number" min="0" max="59">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Seconds</label>
            <input class="form-control" type="number" min="0" max="59">
        </div>
    </div>
</mat-card>