<div class="d-flex justify-content-center mt-4">
    <table>
        <thead>
            <th class="table-header">Gs</th>
            <th class="table-header">Ms</th>
            <th class="table-header">ks</th>
            <th class="table-header">s</th>
        </thead>
        <tbody>
            <td>
                <input type="number" class="form-control" style="max-width: 60px;" [(ngModel)]="calculation.gigaSeconds"
                    disabled>
            </td>
            <td>
                <input type="number" class="form-control" style="max-width: 60px;" [(ngModel)]="calculation.megaSeconds"
                    disabled>
            </td>
            <td>
                <input type="number" class="form-control" style="max-width: 60px;" [(ngModel)]="calculation.kiloSeconds"
                    disabled>
            </td>
            <td>
                <input type="number" id="seconds" class="form-control" style="max-width: 70px;" [(ngModel)]="calculation.seconds"
                    disabled>
            </td>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center mt-4">
    <table>
        <thead>
            <th style="text-align: center;">Legend</th>
        </thead>
        <tbody>
            <td>
                <ul>
                    <li>Gs - Gigaseconds</li>
                    <li>Ms - Megaseconds</li>
                    <li>ks - Kiloseconds</li>
                    <li>s - Seconds</li>
                </ul>
            </td>
        </tbody>
    </table>
</div>
