<div class="row justify-content-center mt-4">
    <input type="number" class="form-control" style="max-width: 60px;" [(ngModel)]="calculation.gigaSeconds" disabled>
    <span class="pt-2">Gs</span>
    <input type="number" class="form-control" style="max-width: 60px;" [(ngModel)]="calculation.megaSeconds" disabled>
    <span class="pt-2">Ms</span>
    <input type="number" class="form-control" style="max-width: 60px;" [(ngModel)]="calculation.kiloSeconds" disabled>
    <span class="pt-2">ks</span>
    <input type="number" class="form-control" style="max-width: 70px;" [(ngModel)]="calculation.seconds" disabled>
    <span class="pt-2">s</span>
</div>
<div class="row justify-content-center mt-4">
    <b>Legend</b><br>
    <ul>
        <li>Gs - Gigaseconds</li>
        <li>Ms - Megaseconds</li>
        <li>ks - Kiloseconds</li>
        <li>s - Seconds</li>
    </ul>
</div>